<div class="card border-2"  
     *ngIf="book"
     [class.border-success]="!book.isDeleted"
     [class.border-danger]="book.isDeleted"
     >
    <div class="card-body d-flex flex-column">
        <h3 class="card-title">
            {{(book.title) | titlecase}}
        </h3>
        <h5 class="card-container">
            {{(book.firstName | fullName:book.lastName) | titlecase}}
        </h5>
        <button type="button" 
                class="btn btn-sm align-self-end"
                [class.btn-danger]="btnName=='Delete'"
                [class.btn-success]="btnName=='Activate'"
                [class.btn-primary]="btnName=='Details'"
                (click)="callBack(book)">
            {{btnName}}
        </button>
    </div>
</div>