<div class="container-fluid my-4">
    <form class="form" [formGroup]="registrationForm">
        <div class="form-group mb-3">
            <label class="mb-2">Book Title</label>
            <input type="text"
                [class.is-invalid]="registrationForm.get('title')?.invalid && registrationForm.get('title')?.touched"
                formControlName="title" class="form-control mb-2">
            <small
                [class.d-none]="registrationForm.get('title')?.valid || registrationForm.get('title')?.untouched"
                class="text-danger">Book Title is required</small>
        </div>
        <div class="form-group mb-3">
            <label class="mb-2">Author First Name</label>
            <input type="text"
                [class.is-invalid]="registrationForm.get('firstName')?.invalid && registrationForm.get('firstName')?.touched"
                formControlName="firstName" class="form-control mb-2">
            <small
                [class.d-none]="registrationForm.get('firstName')?.valid || registrationForm.get('firstName')?.untouched"
                class="text-danger">First Name is required</small>
        </div>
        <div class="form-group mb-3">
            <label class="mb-2">Author Last Name</label>
            <input type="text"
                [class.is-invalid]="registrationForm.get('lastName')?.invalid && registrationForm.get('lastName')?.touched"
                formControlName="lastName" class="form-control mb-2">
            <small
                [class.d-none]="registrationForm.get('lastName')?.valid || registrationForm.get('lastName')?.untouched"
                class="text-danger">Last Name is required</small>
        </div>
        <div class="form-group mb-3">
            <label class="mb-2">Book Price</label>
            <input type="number"
                [class.is-invalid]="registrationForm.get('price')?.invalid && registrationForm.get('price')?.touched"
                formControlName="price" class="form-control mb-2">
            <small
                [class.d-none]="registrationForm.get('price')?.valid || registrationForm.get('price')?.untouched"
                class="text-danger">Book Price is required</small>
        </div>
        <div class="form-group mb-3">
            <label class="mb-2">Book Rating</label>
            <input type="number"
                [class.is-invalid]="registrationForm.get('rating')?.invalid && registrationForm.get('rating')?.touched"
                formControlName="rating" class="form-control mb-2">
            <small
                [class.d-none]="registrationForm.get('rating')?.valid || registrationForm.get('rating')?.untouched"
                class="text-danger">Book Rating is required</small>
        </div>
        <button type="button" (click)="submitForm()" class="btn btn-sm btn-primary px-3">Submit</button>
    </form>

</div>