<div class="container">
    <div class="row">
        <div class="col-sm-6 mt-5">
            <div class="container-fluid my-3" *ngFor="let book of books">
                <div class="card border-2" *ngIf="book" [class.border-success]="!book.isDeleted"
                    [class.border-danger]="book.isDeleted">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title">
                            {{(book.title) | titlecase}}
                        </h3>
                        <h5 class="card-title">
                            {{(book.firstName | fullName:book.lastName) | titlecase}}
                        </h5>
                        <div class="btn-toolbar justify-content-between mt-2">
                            <button type="button" class="btn btn-sm btn-warning px-3" (click)="onEdit(book)">
                                Edit
                            </button>
                            <button type="button" class="btn btn-sm btn-primary" (click)="onSelect(book)">
                                {{btnName}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 right">
            <div class="row mx-3 mt-3">
                <div class="col d-flex justify-content-end">
                    <button class="btn btn-sm btn-success px-3" (click)="createBook()" type="button">
                        Create
                    </button>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>

</div>