<div class="container my-4" *ngIf="selectedBook">
    <h3>{{selectedBook.firstName}} {{selectedBook.lastName}}</h3>
    <form class="form mt-3" [formGroup]="editForm">
        <div class="form-group">
            <label class="mb-2">Book Title</label>
            <input type="text" class="form-control mb-2" formControlName="title">
        </div>
        <div class="form-group mt-3">
            <label class="mb-2">Book Price</label>
            <input type="number" class="form-control mb-2" formControlName="price">
        </div>
        <div class="form-group mt-3">
            <label class="mb-2">Book Rating</label>
            <input type="number" class="form-control mb-2" formControlName="rating">
        </div>
        <button type="button" (click)="updateBook()" class="btn btn-sm btn-primary mt-2 px-3">Update</button>
    </form>

</div>