<form>
    <div class="center">
        <div class="form-group mb-3">
            <label class="mb-2">Books Searching</label>
            <input type="text" placeholder="Search Here">
        </div>
        <button type="button" (click)="searchHere()" class="btn btn-sm btn-primary px-2">Search</button>
    </div>
</form>

<div class="container">
    <app-book-list [books]="books" [callBack]="deActivate" [btnName]="btnName">

    </app-book-list>
</div>