<div class="container my-3">
    <div class="container my-3" *ngIf="selectedBook">
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">{{(selectedBook.firstName | fullName:selectedBook.lastName) | titlecase}}</h5>
                <p class="card-text" [ngClass]="{'text-success':!selectedBook.isDeleted,'text-danger':selectedBook.isDeleted}">
                    {{selectedBook.isDeleted | status}}
                </p>
                <div class="row mb-3">
                    <div class="col-sm">Book Title</div>
                    <div class="col-sm">{{selectedBook.title}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm">First Name</div>
                    <div class="col-sm">{{selectedBook.firstName}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm">Last Name</div>
                    <div class="col-sm">{{selectedBook.lastName}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm">Price</div>
                    <div class="col-sm">{{selectedBook.price}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm">Book Rating</div>
                    <div class="col-sm">{{selectedBook.rating}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm">Last Updated</div>
                    <div class="col-sm">{{selectedBook.lastUpdated | date}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

